---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://greenwingenergysolutions.com/</loc><changefreq>weekly</changefreq><priority>1.0</priority></url>
  <url><loc>https://greenwingenergysolutions.com/services</loc><changefreq>monthly</changefreq><priority>0.9</priority></url>
  <url><loc>https://greenwingenergysolutions.com/solutions</loc><changefreq>monthly</changefreq><priority>0.9</priority></url>
  <url><loc>https://greenwingenergysolutions.com/onsite-discovery-assessment</loc><changefreq>monthly</changefreq><priority>0.85</priority></url>
  <url><loc>https://greenwingenergysolutions.com/discovery-roadmap</loc><changefreq>monthly</changefreq><priority>0.85</priority></url>
  <url><loc>https://greenwingenergysolutions.com/eoaas</loc><changefreq>monthly</changefreq><priority>0.85</priority></url>
  <url><loc>https://greenwingenergysolutions.com/case-studies</loc><changefreq>monthly</changefreq><priority>0.8</priority></url>
  <url><loc>https://greenwingenergysolutions.com/referrals</loc><changefreq>monthly</changefreq><priority>0.75</priority></url>
  <url><loc>https://greenwingenergysolutions.com/about</loc><changefreq>monthly</changefreq><priority>0.8</priority></url>
  <url><loc>https://greenwingenergysolutions.com/contact</loc><changefreq>monthly</changefreq><priority>0.9</priority></url>
  <url><loc>https://greenwingenergysolutions.com/insights</loc><changefreq>weekly</changefreq><priority>0.7</priority></url>
{%- for post in collections.insightsSorted %}
  <url><loc>https://greenwingenergysolutions.com{{ post | insightHref }}</loc><changefreq>monthly</changefreq><priority>0.65</priority></url>
{%- endfor %}
  <url><loc>https://greenwingenergysolutions.com/terms-and-policies</loc><changefreq>yearly</changefreq><priority>0.3</priority></url>
</urlset>
